@mixin logo {
    font-size: 30px;
    height: 50px;
    width: 180px;
    border-bottom: black;
    font-family: 'Shrikhand';
    display: inline-block;
    margin-left: 110px;
}

@mixin btn {
    width: 210px;
    height: 50px;
    color: white;
    font-size: 16px;
    background: linear-gradient(340deg, $primary-color, $secondary-color);
    border-radius: 30px 30px 30px 30px;
    border: 2px white solid;
    border-color: rgb(246, 246, 246);
    margin-left: 90px;
    
    &.btn:hover {
           background: rgb(240, 125, 230);
           border: hidden;
           filter: drop-shadow(0 0 0.85rem grey);
    }
  
}
@mixin footer {
    background-color: rgb(53, 53,53);
    height: 190px;
    min-width: 370px;
    li {
        text-decoration: none;
        list-style-type: none;
        margin-bottom: 8px;
        margin-left: -15px;
    }
    a {
        text-decoration: none;
        list-style-type: none;
        color: white;
        font-family: 'Roboto', sans-serif;
        }
}

@mixin titre-footer {
    font-family: 'Shrikhand';
    display: inline-block;
    margin-top: 20px;
    margin-left: 22px;
    font-size: 18px;
}
@mixin marges-page {
    width: 370px;
    border-radius: 45px 45px 0px 0px;
    margin-top: -60px;
    max-height: 1350px;
    position: sticky;
}
@mixin menu {
    margin-left: 10px;
    animation: fadein 3s;
  }
  @keyframes fadein {
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    80%{
        opacity: 0.6;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
  }

@mixin kokoro {
    color: violet;
    animation: 2s linear slideintop;
}
@keyframes slideintop {
0% {
    transform: scale(0);
    opacity: 0;
}
10% {
    transform: scale(0.20);
    color: rgb(241, 117, 218);
    opacity: 0.1;
}
25% {
    transform: scale(0.25); 
    color: rgb(197, 101, 219);
    opacity: 0.4;
}
50% {
    transform: scale(0.50);
    color: rgb(177, 96, 220);
    opacity: 0.8;
}
70% {
    transform: scale(0.70);
    opacity: 1;
    color: rgb(170, 93, 220);
}
}