%couleur-icone {
    color: rgb(126, 126, 126);
    font-size: 17px;
}
%couleur-coeur {
    color: black;
    font-size: 22px;
    float: right;
    height: 22px;
    width: 22px;
}
%affichage-box { 
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    color: black;
}

