@mixin logo {
    font-size: 30px;
    height: 50px;
    border-bottom: black;
    font-family: 'Shrikhand';
    text-align: center;
}

@mixin btn {
    width: 210px;
    height: 50px;
    color: white;
    font-size: 16px;
    background: linear-gradient(340deg, $primary-color, $secondary-color);
    border-radius: 30px 30px 30px 30px;
    border-color: rgb(246, 246, 246);
    margin-left: 75px;
    
    &.btn:hover {
           background: rgb(270, 150, 240);
    }
  
}
@mixin footer {
    background-color: rgb(53, 53,53);
    height: 180px;
    li {
        text-decoration: none;
        list-style-type: none;
        margin-bottom: 8px;
        margin-left: -15px;
    }
    a {
        text-decoration: none;
        list-style-type: none;
        color: white;
        font-family: 'Roboto', sans-serif;
        }
}

@mixin titre-footer {
    font-family: 'Shrikhand';
    display: inline-block;
    margin-top: 20px;
    margin-left: 22px;
    font-size: 18px;
}
