@mixin logo {
    font-size: 30px;
    height: 50px;
    width: 180px;
    border-bottom: black;
    font-family: 'Shrikhand';
    display: inline-block;
    margin-left: 100px;
}

@mixin btn {
    width: 210px;
    height: 50px;
    color: white;
    font-size: 16px;
    background: linear-gradient(340deg, $primary-color, $secondary-color);
    border-radius: 30px 30px 30px 30px;
    border: 2px white solid;
    border-color: rgb(246, 246, 246);
    margin-left: 75px;
    
    &.btn:hover {
           background: rgb(240, 125, 230);
           border: hidden;
           filter: drop-shadow(0 0 0.85rem grey);
    }
  
}
@mixin footer {
    background-color: rgb(53, 53,53);
    height: 180px;
    width: 360px;
    li {
        text-decoration: none;
        list-style-type: none;
        margin-bottom: 8px;
        margin-left: -15px;
    }
    a {
        text-decoration: none;
        list-style-type: none;
        color: white;
        font-family: 'Roboto', sans-serif;
        }
}

@mixin titre-footer {
    font-family: 'Shrikhand';
    display: inline-block;
    margin-top: 20px;
    margin-left: 22px;
    font-size: 18px;
}
@mixin marges-page {
    width: 360px;
    border-radius: 45px 45px 0px 0px;
    margin-top: -60px;
    max-height: 1270px;
    position: sticky;
}
