#telephone, #liste, #shop {
  color: #7e7e7e;
  font-size: 17px;
}

.fa-heart, .fa-heart.menu {
  color: black;
  font-size: 22px;
  float: right;
  height: 22px;
  width: 22px;
}

.box, .titre-box, .ville {
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  color: black;
}

@font-face {
  font-family: 'Shrikhand', sans-serif;
}

@font-face {
  font-family: 'Roboto', sans-serif;
}

.logo {
  font-size: 30px;
  height: 50px;
  width: 180px;
  border-bottom: black;
  font-family: 'Shrikhand';
  display: inline-block;
  margin-left: 100px;
}

body {
  font-family: 'Roboto', sans-serif;
  max-width: 370px;
}

/* CSS Accueil version mobile */
::before {
  margin-right: 20px;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 45px;
  font-size: 10px;
  background-color: #eaeaea;
  margin-left: -10px;
}

.btn, .btn-menu, .btn-menu-enchantee {
  width: 210px;
  height: 50px;
  color: white;
  font-size: 16px;
  background: linear-gradient(340deg, #9356DC, #FF79DA);
  border-radius: 30px 30px 30px 30px;
  border: 2px white solid;
  border-color: #f6f6f6;
  margin-left: 75px;
}

.btn.btn:hover, .btn-menu:hover, .btn-menu-enchantee:hover {
  background: #f07de6;
  border: hidden;
  -webkit-filter: drop-shadow(0 0 0.85rem grey);
          filter: drop-shadow(0 0 0.85rem grey);
}

.presentation {
  height: 300px;
  background-color: #f6f6f6;
  display: inline-block;
}

#reservez {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-top: 35px;
}

#decouvrez {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-bottom: 40px;
}

.fonctionnement {
  height: 300px;
  margin-top: 50px;
}

.fonctionnement strong {
  font-size: 24px;
}

.fonctionnement li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex-start;
          flex-direction: flex-start;
  height: 60px;
  border-radius: 20px 20px 20px 20px;
  background-color: #f6f6f6;
  margin-bottom: 20px;
  margin-left: -35px;
}

.fonctionnement a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  width: 300px;
  margin-left: 80px;
  margin-top: 19px;
}

.liste-fonctionnement:hover {
  background-color: #f6ecff;
}

.numero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  margin-left: -90px;
  margin-right: 40px;
  margin-top: -3px;
  background: #9356DC;
  color: white;
}

#telephone:hover {
  color: #9356DC;
}

#liste:hover {
  color: #9356DC;
}

#shop:hover {
  color: #9356DC;
}

::marker {
  color: black;
}

section {
  height: 1350px;
  width: 360px;
  background-color: #f6f6f6;
}

section h2 {
  margin-top: 50px;
  margin-bottom: 35px;
  display: inline-block;
}

.box {
  background-color: #FFFFFF;
  width: 350px;
  border-radius: 25px 25px 25px 25px;
  margin-bottom: 25px;
  -webkit-box-shadow: 3px 3px 3px #ebebeb;
          box-shadow: 3px 3px 3px #ebebeb;
}

.restaurant {
  height: 180px;
  width: 350px;
  border-radius: 25px 25px 0px 0px;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.nouveau {
  height: 30px;
  width: 72px;
  background-color: #99E2D0;
  position: absolute;
  color: green;
  text-align: center;
  margin-left: 265px;
  margin-top: -170px;
}

.texte-nouveau {
  margin-top: 5px;
}

.titre-box {
  margin-right: 150px;
  margin-left: 10px;
  margin-bottom: -30px;
}

.ville {
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.fa-heart {
  margin-right: 15px;
}

.fa-heart:hover {
  background-color: pink;
}

footer {
  background-color: #353535;
  height: 180px;
  width: 360px;
}

footer li {
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 8px;
  margin-left: -15px;
}

footer a {
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.titre-footer {
  font-family: 'Shrikhand';
  display: inline-block;
  margin-top: 20px;
  margin-left: 22px;
  font-size: 18px;
}

/* CSS des 4 Menus */
#fleche {
  color: black;
  opacity: 1;
  font-size: 22px;
  margin-right: -32px;
}

#menu-restaurant {
  height: 300px;
  width: 360px;
}

#section-page {
  width: 360px;
  border-radius: 45px 45px 0px 0px;
  margin-top: -60px;
  max-height: 1270px;
  position: -webkit-sticky;
  position: sticky;
}

#nom-restaurant {
  font-family: 'Shrikhand', sans-serif;
  font-size: 25px;
  margin-left: 15px;
}

.fa-heart.menu {
  margin-right: 20px;
  display: inline-block;
  margin-top: 56px;
}

.titre-majuscule {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 18px;
  width: 45px;
  border-bottom: 3px #99E2D0 solid;
  padding-bottom: 0.3em;
}

.bloc-menu {
  height: 75px;
  width: 340px;
  border-radius: 25px 25px 25px 25px;
  background-color: #FFF;
  display: inline-block;
  margin-bottom: 15px;
}

.bloc-menu {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: glissement;
          animation-name: glissement;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes glissement {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 95%;
  }
}

@keyframes glissement {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 95%;
  }
}

.ligne-1 {
  font-size: 16px;
  margin-left: 15px;
  width: 240px;
}

.ligne-2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin-left: 13px;
  width: 240px;
  font-size: 15px;
  margin-left: 15px;
  margin-top: -10px;
}

.prix {
  float: right;
  margin-top: -45px;
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
}

.btn-menu {
  margin-top: 30px;
}

.btn-menu-enchantee {
  margin-top: 30px;
}

.titre-footer {
  font-family: 'Shrikhand';
}

.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#menu.exception {
  width: 360px;
  border-radius: 45px 45px 0px 0px;
  margin-top: -60px;
  max-height: 1270px;
  position: -webkit-sticky;
  position: sticky;
}

.fa-check-circle {
  background-color: #99E2D0;
  color: white;
  display: inline-block;
  font-size: 20px;
  margin-left: 10px;
}

.coche {
  display: inline-block;
  margin-top: -80px;
  height: 75px;
  width: 55px;
  background-color: #99E2D0;
  border: hidden;
  margin-right: -18px;
  border-radius: 0px 25px 25px 0px;
}
/*# sourceMappingURL=style.css.map */