@import './utils/fonctions';
@import './utils/mixins';
@import './utils/placeholders';
@import './utils/variables';
@import './utils/polices';


.logo {
    @include logo;
}
body {
    font-family: 'Roboto', sans-serif;
    max-width: 370px;
}
/* CSS Accueil version mobile */ 

::before {
    margin-right: 20px;
}
.localisation {
    display: flex;
    justify-content: center;
    height: 45px;
    font-size: 10px;
    background-color: rgb(234,234,234);
    margin-left: -10px;
}
.btn {
    @include btn;
}
.presentation {
    height: 300px;
    background-color: rgb(246, 246, 246);
    display: inline-block;
}
#reservez {
    font-size: 24px;
    display: flex;
    text-align: center;
    margin-top: 35px;
}
#decouvrez {
    font-family: 'Roboto', sans-serif; font-weight: 100;
    font-size: 18px;
    display: flex;
    text-align: center;
    margin-bottom: 40px;
}
.fonctionnement {
    height: 300px;
    margin-top: 50px;

        strong {
        font-size: 24px;
        }
            li {
            list-style-type: none;
            display: flex;
            flex-direction: flex-start;
            height: 60px;
            border-radius: 20px 20px 20px 20px;
            background-color: rgb(246, 246, 246);
            margin-bottom: 20px;
            margin-left: -35px;
             }
                  a {
                  text-decoration: none;
                  display: flex;
                  color: black;
                  width: 300px;
                  margin-left: 80px;
                  margin-top: 19px;
                  }
}
.liste-fonctionnement:hover {
    background-color: rgb(246, 236, 255);
}
.numero {
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    margin-left: -90px;
    margin-right: 40px;
    margin-top: -3px;
    background: $primary-color;
    color: white;
}
#telephone {
    @extend %couleur-icone;
}
#telephone:hover {
    color: $primary-color;
}
#liste {
    @extend %couleur-icone;
}
#liste:hover{
    color: $primary-color;
}
#shop {
    @extend %couleur-icone;
}
#shop:hover {
    color: $primary-color;
}
::marker {
    color: black;
}
section {
    height: 1350px;
    width: 360px;
    background-color: rgb(246,246,246);
    h2 {
        margin-top: 50px;
        margin-bottom: 35px;
        display: inline-block;
    }
}
.box {
    @extend %affichage-box;
	background-color: #FFFFFF;
    width: 350px;
	border-radius: 25px 25px 25px 25px;
	margin-bottom: 25px;
	box-shadow: 3px 3px 3px rgb(235,235,235);
}
.restaurant {
    height: 180px;
    width: 350px;
    border-radius: 25px 25px 0px 0px;
    min-width: 0;
	min-height: 0;
	overflow: hidden;
	object-fit: cover;
}
.nouveau {
    height: 30px;
    width: 72px;
    background-color: $third-color;
    position: absolute;
    color: green;
    text-align: center;
    margin-left: 265px;
    margin-top: -170px;
}
.texte-nouveau {
        margin-top: 5px;
}

.titre-box { 
    @extend %affichage-box;
    margin-right: 150px;
    margin-left: 10px;
    margin-bottom: -30px;
   }
.ville {
    @extend %affichage-box;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif; font-weight: 100;
}
.fa-heart {
    @extend %couleur-coeur;
    margin-right: 15px;
 }
.fa-heart:hover {
        background-color: pink;
}
footer {
    @include footer;
}
.titre-footer {
    @include titre-footer;
}
/* CSS des 4 Menus */

#fleche {
    color: black;
    opacity: 1;
    font-size: 22px;
    margin-right: -32px;
}
#menu-restaurant {
    height: 300px;
    width: 360px;
}
#section-page {
    @include marges-page;
}
#nom-restaurant {
    font-family: 'Shrikhand', sans-serif;
    font-size: 25px;
    margin-left: 15px;
}
.fa-heart.menu {
    @extend %couleur-coeur;
    margin-right: 20px;
    display: inline-block;
    margin-top: 56px;
}
.titre-majuscule {
    font-family: 'Roboto', sans-serif; font-weight: 100;
    font-size: 18px;
    width: 45px;
    border-bottom: 3px $third-color solid;
    padding-bottom: 0.3em;
}
.bloc-menu {
    height: 75px;
    width: 340px;
    border-radius: 25px 25px 25px 25px;
    background-color: #FFF;
    display: inline-block;
    margin-bottom: 15px;
}
.bloc-menu {
    animation-duration: 3s;
    animation-name: glissement;
    animation-iteration-count: 1;
  }
  @keyframes glissement {
    from {
      margin-left: 100%;
      width: 300%;
    }
    to {
      margin-left: 0%;
      width: 95%;
    }
  }
.ligne-1 {
    font-size: 16px;
    margin-left: 15px;
    width: 240px;
}
.ligne-2 {
    font-family: 'Roboto', sans-serif; font-weight: 100;
    margin-left: 13px;
    width: 240px;
    font-size: 15px;
    margin-left: 15px;
    margin-top: -10px;
}
.prix {
     float: right;
     margin-top: -45px;
     margin-right: 10px;
     font-family: 'Roboto', sans-serif;
}
.btn-menu {
    @extend .btn;
    margin-top: 30px;
}
.btn-menu-enchantee {
    @extend .btn;
    margin-top: 30px;
}
.titre-footer {
    font-family: 'Shrikhand';
}
.overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#menu.exception {
    @include marges-page;
}
.fa-check-circle {
    background-color: $third-color;
    color: white;
    display: inline-block;
    font-size: 20px;
    margin-left: 10px;
}
.coche {
    display: inline-block;
    margin-top: -80px;
    height: 75px;
    width: 55px;
    background-color: $third-color;
    border: hidden;
    margin-right: -18px;
    border-radius: 0px 25px 25px 0px;
}