@import './utils/mixins';
@import './utils/placeholders';
@import './utils/variables';
@import './utils/polices';

/* CSS Accueil version mobile */ 
.logo {
    @include logo;
}
body {
    font-family: 'Roboto', sans-serif;
    width: 370px;
    margin-left: -0px;
}
::before {
    margin-right: 20px;
}
.localisation {
    display: flex;
    justify-content: center;
    height: 45px;
    font-size: 10px;
    background-color: rgb(234,234,234);
}
.btn {
    @include btn;
}
.presentation {
    height: 300px;
    background-color: rgb(246, 246, 246);
    display: inline-block;
}
#reservez {
    font-size: 24px;
    display: flex;
    text-align: center;
    margin-top: 35px;
}
#decouvrez {
    font-family: 'Roboto', sans-serif; font-weight: 100;
    font-size: 18px;
    display: flex;
    text-align: center;
    margin-bottom: 40px;
}
.titre-fonctionnement {
    margin-bottom: 25px;
}
.fonctionnement {
    height: 320px;
    margin-top: 50px;
    margin-left: 10px;

        strong {
        font-size: 24px;
        }
            li {
            list-style-type: none;
            display: flex;
            flex-direction: flex-start;
            height: 60px;
            width: 340px;
            border-radius: 20px 20px 20px 20px;
            background-color: rgb(246, 246, 246);
            margin-bottom: 20px;
            margin-left: -35px;
             }
                  a {
                  text-decoration: none;
                  display: flex;
                  color: black;
                  width: 280px;
                  margin-left: 80px;
                  margin-top: 19px;
                  }
}
.liste-fonctionnement:hover {
    background-color: rgb(246, 236, 255);
}
.numero {
    display: flex;
    justify-content: center;
    width: 21px;
    height: 21px;
    border-radius: 20px;
    margin-left: -85px;
    margin-right: 40px;
    background: $primary-color;
    color: white;
}
#telephone {
    @extend %couleur-icone;
}
#telephone:hover {
    color: $primary-color;
}
#liste {
    @extend %couleur-icone;
}
#liste:hover{
    color: $primary-color;
}
#shop {
    @extend %couleur-icone;
}
#shop:hover {
    color: $primary-color;
}
::marker {
    color: black;
}
section {
    height: 1350px;
    width: 370px;
    background-color: rgb(246,246,246);
    h2 {
        margin-top: 50px;
        margin-bottom: 35px;
        margin-left: 10px;
        display: inline-block;
    }
}
.box {
    @extend %affichage-box;
	background-color: #FFFFFF;
    width: 350px;
	border-radius: 25px 25px 25px 25px;
	margin-bottom: 25px;
    margin-left: 10px;
	box-shadow: 3px 3px 3px rgb(235,235,235);
}
.restaurant {
    height: 180px;
    width: 350px;
    border-radius: 25px 25px 0px 0px;
    min-width: 0;
	min-height: 0;
	overflow: hidden;
	object-fit: cover;
}
.nouveau {
    height: 30px;
    width: 72px;
    background-color: $third-color;
    position: absolute;
    color: green;
    text-align: center;
    margin-left: 265px;
    margin-top: -170px;
}
.texte-nouveau {
        margin-top: 5px;
}
.titre-box { 
    @extend %affichage-box;
    margin-right: 150px;
    margin-left: 10px;
    margin-bottom: -30px;
   }
.ville {
    @extend %affichage-box;
    margin-left: 10px;
    font-family: 'Roboto',sans-serif; font-weight: 100;
}
.fa-heart {
    @extend %couleur-coeur;
}
.corazon {
    z-index: 1;
    width: 40px;
    height: 50px;
    float: right;
    display: block;
    margin-top: -80px;
    margin-right: 8px;
}
.coeur {
    width: 30px;
    height: 30px;
    position: absolute;
    display: inline-block;
    z-index: 4;
}
.coeur:active {
    color: rgb(197, 101, 219);
    cursor: pointer;
    z-index: 6;
}
.kokoro {
    color: white;
    margin-top: -18px;
    margin-right: 8px;
}
.kokoro:active {
    @include kokoro;
    cursor: pointer;
    display: inline-block;
    visibility: visible;
}
footer {
    @include footer;
}
.titre-footer {
    @include titre-footer;
}
/* CSS des 4 Menus */

#fleche {
    color: black;
    opacity: 1;
    font-size: 22px;
    margin-right: -44px;
    margin-left: 10px;
    margin-top: 35px;
}
#logo-menu {
    font-family: 'Shrikhand', sans-serif;
    margin-top: -35px;
    text-align: center;
    margin-left: 10px;
}
#menu-restaurant {
    height: 300px;
    width: 370px;
}
#section-page {
    @include marges-page;
    height: 1260px;
    width: 370px;
}
#nom-restaurant {
    font-family: 'Shrikhand', sans-serif;
    font-size: 25px;
    margin-left: 20px;
}
.fa-heart.menu {
    @extend %couleur-coeur;
    margin-right: 32px;
    margin-top: 58px;
    display: inline-block;
    z-index: 4;
}
.fa-heart.menu:active {
    color: rgb(197, 101, 219);
    cursor: pointer;
    z-index: 6;
}
.kokoro-menu {
    color: white;
    margin-top: -20px;
    margin-right: 0;
}
.kokoro-menu:active {
    @include kokoro;
    cursor: pointer;
    display: inline-block;
    visibility: visible;
    margin-right: -1px;
}
.menu-coeur {
    height: 40px;
    width: 40px;
    float: right;
    z-index: 1;
}
.titre-majuscule {
    font-family: 'Roboto', sans-serif; font-weight: 100;
    font-size: 18px;
    width: 45px;
    border-bottom: 3px $third-color solid;
    padding-bottom: 0.3em;
}
.bloc-menu {
    height: 75px;
    width: 340px;
    border-radius: 25px 25px 25px 25px;
    background-color: #FFF;
    display: inline-block;
    margin-bottom: 15px;
    cursor: pointer;
}
.coche {
    height: 75px;
    width: 50px;
    background-color: $third-color;
    border: hidden;
    margin-left: 290px;
    margin-top: -26px;
    border-radius: 0px 25px 25px 0px;
    opacity: 0;
    overflow: auto;
    transform-origin: right 80%;
    float: right;
    display: block;
}
.coche:active {
    cursor: pointer;
    opacity: 1;
    animation-name: glisse;
    animation-duration: 1.8s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    z-index: 1;
}
@keyframes glisse {
  0%{
      transform: scaleX(0);
  }
  50%{
      transform: scaleX(50%);
  }
}
.entrees {
    @include menu;
    margin-left: 10px;
}   
.plats {
    @include menu;
    margin-left: 10px;
    animation-delay: 0.2s;
  }
.desserts {
    @include menu;
    margin-left: 10px;
    animation-delay: 0.3s;
  }
.ligne-1 {
    font-size: 16px;
    margin-left: 15px;
    max-width: 240px;
}
.ligne-2 {
    font-family: 'Roboto', sans-serif; font-weight: 100;
    margin-left: 13px;
    max-width: 240px;
    font-size: 14px;
    margin-left: 15px;
    margin-top: -10px;
}
.prix {
     margin-top: -32px;
     height: 60px;
     width: 30px;
     margin-left: 285px;
     font-family: 'Roboto', sans-serif;
}
.prix:hover {
    animation-name: pousser;
    animation-duration: 3.75s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    cursor: pointer;
} 
@keyframes pousser { 
    0%{
  transform: translateX(0);
}
    50%{
  transform: translateX(-85%);
}
}
.btn-menu {
    @extend .btn;
    margin-top: 30px;
}
.btn-menu-enchantee {
    @extend .btn;
    margin-top: 30px;
}
.titre-footer {
    font-family: 'Shrikhand';
}
.overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#menu.exception {
    @include marges-page;
}
.fa-check-circle {
    background-color: $third-color;
    color: white;
    display: inline-block;
    font-size: 22px;
    margin-left: 5px;
    margin-top: -10px;
    animation-name: rotat, back;
    animation-delay: 0s, 4s;
    animation-duration: 2.5s, 3s;
    animation-iteration-count: 5, 5;
  }
  @keyframes rotat {
    0% { transform: rotate(0deg);
    }
    100% { transform: rotate(360deg);
    }
   } 
   @keyframes back {
    100% { transform: rotate(-360deg);
    }
    0% { transform: rotate(0deg);
    }
   } 
#section-page-enchantee {
    @include marges-page;
}
.loader {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  opacity: 0;
  z-index: -9999;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid $primary-color;
  border-bottom: 16px solid $secondary-color;
  border-right: 16px solid $third-color;
  animation-name: spin, apres;
  animation-duration: 2s, 2s;
  animation-delay: 0s, 2s;
  animation-iteration-count: 1, 1;
  }
  @keyframes spin {
    0% { transform: rotate(0deg);
        opacity: 1;
        z-index: 8;
    }
    100% { transform: rotate(360deg); 
        opacity: 1;
        z-index: 8;
    }
   } 
   @keyframes apres {
    0% { opacity: 1;
        z-index: 6;
    }
    100% { opacity: 0;
        z-index: 3;
    }
   } 
 .background {
    background-size: cover;
    background-color: whitesmoke;
    z-index: -9999;
    opacity: 0;
    height: 2320px;
    width: 370px;
    position: absolute;
    animation-name: fond, apress;
    animation-duration: 2s, 2s;
    animation-delay: 0s, 2s;
    animation-iteration-count: 1, 1;
  }
  @keyframes fond {
    0% { opacity: 1;
        z-index: 7;
    }
    100% { opacity: 1;
        z-index: 7;
    }
   } 
   @keyframes apress {
    0% { opacity: 1;
        z-index: 5;
    }
    100% { opacity: 0;
        z-index: 1;
    }
   } 

/* Paramétrage Tablette */

@media only screen and (min-width: 600px) and (max-width: 1024px) {

.logo {
    margin-left: 120px;
    width: 800px;
    text-align: center;
}
#logo-menu { 
    width: 800px;
    text-align: center;
    margin-left: 120px;
}
.localisation {
    width: 1024px;
}
.presentation {
    width: 1024px;
    text-align: center;
    height: 250px;
}
#decouvrez {
    margin-left: 280px;
    margin-top: 40px;
}
#reservez {
    margin-left: 340px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.btn {
    margin-left: 30px;
}
.titre-fonctionnement {
    margin-left: 80px;
    margin-bottom: 30px;
}
.fonctionnement {
  width: 450px;
  margin-left: 345px;
}
section {
    width: 800px;
    height: 1450px;
    margin-left: 100px;
    display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.box {
    margin-bottom: 70px;
    margin-left: 80px;
    width: 650px;
    height: 290px;
}
.restaurant {
    width: 650px;
}
#resto {
    text-align: center;
}
.ville {
    margin-top: 35px;
    margin-left: -100px;
}
.nouveau {
    margin-left: 530px;
}
.corazon {
    margin-left: 650px;
}
.coeur {
    margin-top: -62px;
}
footer {
    width: 1024px;
    height: 130px;
    display: flex;
    align-content: flex-start;
}
.titre-footer {
    margin-right: 40px;
}
.lien-footer {
    max-width: 1000px;
    display: flex;
    align-content: flex-start;
}
footer.li {
    width: 1000px;
    margin-right: 180px;
}
.texte-footer {
    margin-right: 70px;
    margin-top: 6px;
}
.background {
    width: 1024px;
    height: 2335px;
}
/* CSS Pages tablettes */
html {
    height: 1200px;
    width: 1024px;
}
#fleche {
    margin-top: 30px;
}
#menu-restaurant {
    width: 1024px;
    min-width: 0;
	min-height: 0;
	overflow: hidden;
	object-fit: cover;
}
#section-page {
    width: 800px;
    height: 950px;
    margin-left: 120px;
}
#section-page-enchantee {
    width: 800px;
    height: 950px;
    margin-left: 120px;
}
.far.fa-heart.menu {
    margin-right: -650px;
    margin-top: -65px;
}
#nom-restaurant {
    margin-left: 60px;
    font-size: 30px;
}
.entrees {
    margin-left: 60px;
    margin-top: -10px;
}
.plats {
    margin-left: 60px;
    margin-top: -10px;
}
.desserts {
    margin-left: 60px;
    margin-top: -10px;
}
.btn-menu {
    margin-left: 300px;
    margin-bottom: 50px;
}
.btn-menu-enchantee {
    margin-left: 300px;
    margin-bottom: 50px;
}
}

/* Paramétrage Desktop */

@media only screen and (min-width: 1024px) and (max-width: 9999px) {

    .logo {
        margin-left: 100px;
        width: 1200px;
        text-align: center;
    }
    #logo-menu { 
        width: 1440px;
        text-align: center;
    }
    .localisation {
        width: 1440px;
        h2 {
            margin-left: -60px;
        }
    }
    input.btn {
        margin-left: -30px;
    }
    .presentation {
        width: 1440px;
        text-align: center;
        height: 250px;
    }
    #decouvrez {
        margin-left: 450px;
        margin-top: 40px;
    }
    #reservez {
        margin-left: 510px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .btn {
        margin-left: 30px;
    }
    .titre-fonctionnement {
        margin-left: 80px;
        margin-bottom: 30px;
    }
    .fonctionnement {
      width: 450px;
      margin-left: 550px;
    }
    section {
        width: 1100px;
        height: 1430px;
        margin-left: 170px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .box {
        margin-bottom: 70px;
        margin-left: 125px;
        width: 850px;
        height: 290px;
    }
    .restaurant {
        width: 850px;
    }
    #resto {
        text-align: center;
    }
    .ville {
        margin-top: 35px;
        margin-left: -100px;
    }
    .nouveau {
        margin-left: 740px;
    }
    .corazon {
        margin-left: 880px;
    }
    .coeur {
        margin-top: -62px;
    }
    footer {
        width: 1440px;
        height: 130px;
        display: flex;
        align-content: flex-start;
    }
    .titre-footer {
        margin-right: 40px;
    }
    .lien-footer {
        max-width: 1000px;
        display: flex;
        align-content: flex-start;
    }
    .texte-footer {
        margin-right: 120px;
        margin-top: 6px;
    }
    .background {
        width: 1440px;
        height: 2314px;
    }
    /* CSS Pages tablettes */
    html {
        height: 1200px;
        width: 1440px;
    }
    #fleche {
        margin-top: 30px;
    }
    #menu-restaurant {
        width: 1440px;
        min-width: 0;
        min-height: 0;
        overflow: hidden;
        object-fit: cover;
    }
    #section-page {
        width: 1000px;
        height: 950px;
        margin-left: 220px;
    }
    #section-page-enchantee {
        width: 1000px;
        height: 950px;
        margin-left: 260px;
    }
    .far.fa-heart.menu {
        margin-right: -800px;
        margin-top: -65px;
    }
    #nom-restaurant {
        margin-left: 145px;
        font-size: 30px;
    }
    .entrees {
        margin-left: 145px;
        margin-top: -10px;
    }
    .plats {
        margin-left: 145px;
        margin-top: -10px;
    }
    .desserts {
        margin-left: 145px;
        margin-top: -10px;
    }
    input.btn-menu {
        margin-left: 400px;
        margin-bottom: 50px;
    }
    input.btn-menu-enchantee {
        margin-left: 400px;
        margin-bottom: 50px;
    }
    }